.blog-list {
  display: grid;
  row-gap: 15px;
}

.blog-card {
  width: 750px;
  height: 100px;
  background-color: #f5f3f3;
  padding: 20px;
}

.blog-body {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}

.blog-link {
  text-decoration: none;
  font-weight: bold;
  color: green;
  font-size: 18px;
}

.blog-footer {
  margin-top: 8px;
}

.blog-author {
  font-style: italic;
  font-size: 15px;
}
