.comment-part {
  background-color: #f5f3f3;
}
.form-comment {
  padding: 15px;
  display: grid;
  row-gap: 10px;
}

.comment-submit {
  font-size: 15px;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10%;
  justify-self: right;
}
