.form-group {
  width: 100%;
}

.form-group label {
  display: block;
  color: green;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  font-family: sans-serif;
}

.form-input:focus {
  border-color: green;
}

.text-error {
  color: red;
}
