* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 1200px;
  margin: 0 auto;

  font-family: sans-serif;

  display: grid;
  justify-content: center;
  row-gap: 40px;

  /* background-color: #f5f3f3; */
}
